.container{
  margin:3% 0%;
}
.header{
  color: aliceblue;
  font-family: 'Caveat', cursive;
  font-size: 3em;
}
.header span{
  font-size: 2em;
  color: #1A74E2;
}
.title{
  color: aliceblue;
  margin-bottom: 2%;
}
.title span{
  color: #1A74E2;
}
.timerDiv{
  border-radius: 10px;
  border-color: 1px solid #1A74E2;
  box-shadow: 2px 2px 20px 2px;
  padding: 3%;
  margin: 3% 3% 1% 3%;
  color: #1A74E2;
  font-size: 2em;
}
.cardDiv h4{
  color: #1A74E2
}
.cardAnchor{
  text-decoration: none;
  padding: 2%;
  margin: 2%;
  background-color: #1A74E2;
  color: aliceblue;
  border-radius: 7%;
}
.cardDiv:hover{
  box-shadow: 2px 2px 20px 2px;
  color: #1A74E2;
}