.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title span{
  color: #1A74E2;
  text-decoration: none;
}

.title {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: aliceblue;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.card .heading{
  line-height: 1.5;
  font-size: 1.5rem;
  color: #1A74E2;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #1A74E2;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:active {
  border-color: #6BD0FF;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.card p {
  margin: 0;
  padding: 0.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.intro{
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-top: 2%;
}